<!-- <h1>DashBoard main</h1> -->
<!-- Material Button -->
<!-- <button mat-raised-button color="primary">Primary</button> -->

<!-- Header -->
<app-header (onMenuBtnClick)="toggle()"></app-header>

<!-- sideNav from material -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebarOpened">
        <!-- sidebar -->
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <!-- dashboard -->
        <!-- <app-dashboard></app-dashboard> -->
        <!-- user request -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  
  <!-- divider -->
  <mat-divider></mat-divider>
  

<!-- footer -->
<app-footer></app-footer>