<div>
    <!-- admin details -->
    <div class="profile">
        <img src="https://www.pngmart.com/files/21/Admin-Profile-PNG-Clipart.png" alt="admin image">
        <h3>Admin</h3>
        <h4>admin8@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="employee">Employee</a>
        <a routerLink="gallery">Gallery</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="cotacts"><mat-icon>contact_phone</mat-icon> Contacts</a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon> Leads</a>
    </div>
</div>
